p{
    color: blue;
    background-color: bisque;
    /* width: 50px;  */
    /* absolute units */
    /* relative units */
    width: 70vw ;
    margin: 0;
    line-height: 1.2;
}
 div{   

   width: calc(80% 20px);
    height: 100vh;
    background-image: url('pic.jpg');
    

}
h1,h2,h3,h4,h5,h6{
    color: white
}
    /* transform: rotate(90deg); */
 

